.container {
  display: grid;
  min-height: 100vh;
}
@media(min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 768px) {
  .container:before {
    content: "";
    display: block;
    background: url('../../Assets/login.jpg') no-repeat center;
    background-size: couver;
  }
}

.forms {
  padding: 1rem;
  margin-top: 20vh;
}