.photo:nth-child(2) {
  grid-column: 2/4;
  grid-row: span 2;
}

.photo {
  display: grid;
  border-radius: .2rem;
  overflow: hidden;
  cursor: pointer;
}

.photo img {
  grid-area: 1/1;
}

.photo .views {
  grid-area: 1/1;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
  font-size: 1rem;
  align-items: center;
  justify-content: center;
  display: none;
}

.photo .views:before {
  content: "";
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-right: .25rem;
  background: url("../../Assets/views.svg") no-repeat;
}

.photo:hover .views {
  display: flex;
}