.photoPost {
  display: grid;
  gap: 2rem;
  margin-bottom: 2rem;
}
@media(min-width: 768px) {
  .photoPost {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 767px) {
  .photoPost {
    grid-template-columns: 1fr;
  }
}

.file {
  margin-bottom: 1rem;
  display: block;
}

.preview {
  border-radius: 1rem;
  background-size: cover;
  background-position: center center;
}

.preview:after {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 100%;
}