.photo {
  margin: auto;
  border-radius: .2rem;
  background: #FFF;
  display: grid;
  grid-template-rows: auto 1fr auto;
  opacity: 0;
  transform: scale(.8);
  animation: scaleUp .3s forwards;
}

@keyframes scaleUp {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media(min-width: 65rem) {
  .photo {
    height: 36rem;
    grid-template-columns: 36rem 20rem;
    overflow: hidden;
  }
}

@media(max-width: 64rem) {
  .photo {
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem, 40rem);
  }
}

.single.photo {
  grid-template-columns: 1fr;
  height: auto;
}

.details {
  padding: 2rem 2rem 0 2rem;
}

.single .details {
  padding: 1rem 0 0 0;
}

.img {
  grid-row: 1/4;
}

.single .img {
  grid-row: 1;
  border-radius: .4rem;
  overflow: hidden;
}

.single .img img {
  width: 100%;
}

.comments {
  padding: 0 2rem;
}

.author {
  opacity: .5;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author .authorHref {
  transition: .2s linear;
}

.author .authorHref:hover {
  text-decoration: underline;
}

.views:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: .5rem;
  background: url("../../Assets/views-black.svg");
}

.attributes {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.attributes .attributesItem {
  margin-right: 2rem; 
}

.attributes .attributesItem:before {
  content: "";
  display: inline-block;
  height: 20px;
  margin-right: .5rem;
  position: relative;
  top: 3px;
  width: 2px;
  background: #333;
  margin-top: 5px;
}